# Copied from direnv's latest version
# This is "layout pipenv"
# https://github.com/direnv/direnv/blob/6c9056671dd5b0f25eaa9a891a2bdd8cfd113b1d/stdlib.sh
local venv
PIPENV_PIPFILE="${PIPENV_PIPFILE:-Pipfile}"
if [[ ! -f "$PIPENV_PIPFILE" ]]; then
  log_error "No Pipfile found.  Use \`pipenv\` to create a \`$PIPENV_PIPFILE\` first."
  exit 2
fi

venv=$(pipenv --bare --venv 2>/dev/null)

if [[ -z $venv || ! -d $venv ]]; then
  pipenv install --dev
fi

# Sync dependencies from Pipfile.lock
# Doing this here means nobody has to manually update their environment
# when dependencies are added, at the expense of a 3-4 second delay when
# entering the directory.
pipenv sync --bare --dev --keep-outdated

VIRTUAL_ENV=$(pipenv --venv)

PATH_add "$VIRTUAL_ENV/bin"
export PIPENV_ACTIVE=1
export VIRTUAL_ENV
